<div id="user">
    <div class="bg-img"></div>
    <div class="overlay">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title text-center">Log In</h1>
                <div class="container">
                    <%= form_for :user, url: users_path do |f| %>
                    <div class="row pt-1 pb-1">
                        <div class="col-12 p-2">
                            <%= f.label :username %>
                            <br>
                            <%= f.text_field(:username, {:class => 'form-control m-0'}) %>
                        </div>
                        <div class="col-12 p-2">
                            <%= f.label :password %>
                            <br>
                            <%= f.password_field(:password, {:class => 'form-control'}) %>
                        </div>
                        <div class="col-12 mt-1 p-2">
                            <%= f.submit({:class => 'btn btn-primary'}) %>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>